@font-face {
  /* this font face is just a hacky way to get webpack to put impact.tff build
  output so ffmpegwasm can load it */
  font-family: 'Impact';
  src: url('./assets/impact.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: monospace;
  color: white;
  background-color: rgb(34, 38, 41);
}

main {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: center;
  padding-top: 2em;
}

article {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: center;
}
